/* used for things that should be hidden in the ui,
but useful for people who use screen readers */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.toggle-all {
    width: 40px !important;
    height: 60px !important;
    right: auto !important;
}

.toggle-all-label {
    pointer-events: none;
}

.action-buttons button {
  background: #ddd;
  padding: 2px 5px;
  border-radius: 3px;
  margin: 5px;
}

.action-buttons label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin: 0 5px;
}

.edit {
  display: initial !important;
  padding: 12px 16px !important;
  margin-left: 43px !important;
  width: calc(100% - 43px) !important;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
